@media only screen and (max-width: 1199px) {
  .container {
    padding: 0 30px; }

  .our_customers .container h2 {
    left: 25px; } }
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 50px; }

  header .header_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    header .header_content .regist {
      flex-direction: row-reverse;
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translate(-50%, 0); }
      header .header_content .regist a:first-of-type, header .header_content .regist a:nth-of-type(2) {
        display: none; }
    header .header_content .logo_img {
      top: 45px;
      left: 50px; }
    header .header_content ul {
      justify-content: center;
      align-items: center;
      height: 100vh; }
      header .header_content ul li {
        position: relative;
        z-index: 2;
        margin-right: 0; }

  .main {
    padding-top: 50px; }

  .the_best {
    padding-top: 60px;
    padding-bottom: 30px; }
    .the_best .best_content {
      align-items: center; }
      .the_best .best_content .best_icon {
        max-width: 300px; }

  /* Main menu positionning */
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s; }

  .main-nav.is-open {
    position: fixed;
    height: 100vh;
    opacity: 1;
    z-index: 10;
    visibility: visible; }

  /* Yellow band effect */
  .main-nav::before {
    content: '';
    height: 100vh;
    width: 100%;
    background: #3fe7aa;
    transform-origin: 0 0;
    transition: all .275s .1s; }

  .main-nav ul {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100vh;
    background: #3fe7aa; }

  .main-nav li {
    display: block;
    margin: 2rem 0;
    text-align: right; }

  /* Apparition effect on links */
  .main-nav a {
    opacity: 0; }

  .main-nav.is-open a {
    opacity: 1; }

  .main-nav li:nth-child(1) a {
    transition: all 275ms 175ms; }

  .main-nav li:nth-child(2) a {
    transition: all 275ms 225ms; }

  .main-nav li:nth-child(3) a {
    transition: all 275ms 275ms; }

  .main-nav li:nth-child(4) a {
    transition: all 275ms 325ms; }

  .main-nav li:nth-child(5) a {
    transition: all 275ms 375ms; }

  .main h1 {
    z-index: 0;
    font-size: 60px; }

  .do_it_now a {
    z-index: 0; }

  .main-nav ul,
  .main-nav li {
    list-style: none;
    padding: 0; }

  .main-nav a {
    display: block;
    padding: 12px 0;
    color: #5A3B5D;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold; }

  .open-main-nav {
    position: absolute;
    top: 32px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer; }

  .open-main-nav:focus {
    outline: none; }

  .burger {
    position: fixed;
    right: 15px;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #3fe7aa;
    transform: skew(5deg);
    transition: all .275s; }

  .burger:after,
  .burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #3fe7aa;
    transition: all .275s; }

  .burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg); }

  .burger:before {
    transform: translateY(-16px) skew(-10deg); }

  .is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
    background: black; }

  .is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
    background: black; }

  .is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0; }

  .burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #5A3B5D; }

  /* Notice */
  .notice {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    padding: 20px;
    background: #F2F2F2;
    color: #5A3B5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 100;
    text-align: center; }

  .notice strong {
    font-weight: 700; }

  .notice a {
    padding: 2px 3px;
    background: #FEDC2A;
    text-decoration: none; }

  .open-main-nav {
    display: block; }

  .our_customers .owl-nav {
    left: 75%; }
  .our_customers .container .carousel_content .carousel_text {
    margin-top: 0;
    max-width: 100%; }
  .our_customers .container .carousel_content .carousel_img {
    max-width: 350px; }
  .our_customers .container h2 {
    position: inherit;
    text-align: center; }

  .order {
    padding-bottom: 70px; }
    .order .order_content {
      align-items: center; }
      .order .order_content .order_img {
        margin-right: 25px; }
        .order .order_content .order_img .second_phone {
          display: none; }

  footer {
    padding: 50px 0; }
    footer .footer_content .logo_text {
      margin-right: 25px; }
    footer .footer_content .footer_info {
      max-width: 600px;
      width: 100%; }
      footer .footer_content .footer_info .resources {
        margin: 0 50px; } }
@media only screen and (max-width: 767px) {
  .main {
    background: url(../images/vegetables-fruits.png) no-repeat center bottom #F3FBF8;
    background-size: contain; }
    .main h1 {
      font-size: 50px;
      line-height: 60px; }
    .main .main_img {
      display: none; }
    .main .main_rating {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .main .main_rating .rating_item {
        margin: 30px;
        width: 80%;
        justify-content: space-between; }
        .main .main_rating .rating_item .rating_text {
          display: flex; }
          .main .main_rating .rating_item .rating_text h3 {
            margin-right: 15px; }

  h2 {
    font-size: 50px;
    line-height: 60px; }

  .the_best p {
    max-width: 100%; }

  .the_best .best_reason .best_item {
    flex-wrap: wrap;
    justify-content: center; }
    .the_best .best_reason .best_item .best_img {
      margin: auto;
      border-radius: 30%; }

  .special_item .special_img {
    display: none; }

  .our_customers .owl-nav {
    display: none; }

  .owl-carousel button.owl-dot {
    position: relative;
    bottom: 0;
    left: 50%;
    height: 7px;
    width: 7px;
    background-color: #0e855d;
    margin-right: 7px;
    border-radius: 50%; }
    .owl-carousel button.owl-dot.active {
      border: solid 2px #0e855d;
      background: none;
      height: 10px;
      width: 10px; } }
@media only screen and (max-width: 650px) {
  .our_customers .container .carousel_content .carousel_img {
    display: none; }

  .main {
    background-position: center 60%; }

  .the_best .best_content {
    display: block; }
    .the_best .best_content .best_item {
      padding: 20px; }
    .the_best .best_content .best_text h4 {
      margin-top: 15px; }
    .the_best .best_content .best_icon img {
      display: none; }

  .special_item .special_content .special_text .do_it_now {
    justify-content: center; }

  .order .order_content .order_text .order_btn {
    justify-content: center; }
  .order .order_content .order_img {
    display: none; } }
@media only screen and (max-width: 420px) {
  .main h1 {
    font-size: 35px; }

  .main .main_rating .rating_item .rating_text {
    display: block; }

  h2 {
    font-size: 38px; }

  .order {
    padding-bottom: 30px; } }

/*# sourceMappingURL=media.css.map */
