@import url(fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h2 {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222; }

h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px; }

h4 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222222; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

body {
  background-color: #fff; }

a {
  font-family: "DM Sans", sans-serif;
  text-decoration: none; }

ul {
  list-style: none; }

header {
  padding: 45px 0; }
  header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    header .header_content ul {
      display: flex;
      justify-content: space-between; }
      header .header_content ul li {
        margin-right: 40px; }
        header .header_content ul li:last-of-type {
          margin-right: 0; }
        header .header_content ul li a {
          font-size: 18px;
          line-height: 24px;
          color: #222222; }
    header .header_content .logo_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header .header_content .regist {
      display: flex;
      align-items: center; }
      header .header_content .regist a {
        margin-right: 20px;
        height: 40px;
        min-width: 40px;
        background-color: #F3FBF8;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        header .header_content .regist a:last-of-type {
          margin-right: 0;
          margin-left: 12px; }
      header .header_content .regist .btn {
        display: block;
        padding: 10px 23px;
        background-color: #3fe7aa;
        border-radius: 8px;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.5s; }
        header .header_content .regist .btn:hover {
          background-color: #0e855d; }

.main {
  text-align: center;
  background-color: #F3FBF8;
  padding-top: 92px;
  padding-bottom: 32px; }
  .main .container {
    position: relative; }
    .main .container .left_top_img {
      position: absolute;
      top: -120px;
      left: -6%;
      max-width: 450px;
      margin-right: 600px; }
      .main .container .left_top_img img {
        display: block;
        width: 100%; }
  .main h1 {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px; }
  .main p {
    max-width: 637px;
    width: 100%;
    margin: auto; }
  .main .do_it_now {
    margin-top: 50px; }
    .main .do_it_now p {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      display: inline; }
  .main .main_content {
    display: flex;
    justify-content: space-between;
    align-items: end; }
    .main .main_content .main_img {
      max-width: 800px;
      position: relative;
      top: -45px;
      left: 0;
      z-index: 0; }
      .main .main_content .main_img img {
        display: block;
        width: 100%; }
    .main .main_content .main_rating .rating_item {
      background-color: #fff;
      padding: 17px 33px;
      margin-bottom: 30px;
      display: flex; }
      .main .main_content .main_rating .rating_item h3 {
        color: black;
        margin-bottom: 4px; }
      .main .main_content .main_rating .rating_item p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px; }
      .main .main_content .main_rating .rating_item img {
        display: block;
        width: 56px;
        margin-right: 25px; }
      .main .main_content .main_rating .rating_item:last-of-type {
        margin-bottom: 0; }

.do_it_now a {
  position: relative;
  z-index: 3;
  margin-left: 20px;
  display: inline-block;
  background-color: #3fe7aa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 23px 0;
  cursor: pointer;
  transition: 0.5s; }
  .do_it_now a:hover {
    background-color: #0e855d; }
  .do_it_now a:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f178";
    display: block;
    color: white; }

.the_best {
  background-color: #fff;
  padding: 140px 0;
  position: relative;
  overflow: hidden; }
  .the_best .line_absolute {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 1; }
  .the_best .container {
    position: relative;
    z-index: 2; }
  .the_best h2 {
    margin-bottom: 20px; }
  .the_best p {
    max-width: 42%;
    width: 100%;
    color: #555555; }
  .the_best .best_content {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .the_best .best_content .fa-arrow-down-long {
      color: #3fe7aa;
      margin-top: 60px;
      font-size: 30px; }
    .the_best .best_content .best_icon {
      max-width: 600px;
      width: 100%;
      padding-top: 30px; }
      .the_best .best_content .best_icon img {
        display: block;
        width: 100%; }
  .the_best .best_reason {
    margin-top: 60px;
    cursor: pointer; }
    .the_best .best_reason .best_item {
      padding: 40px 60px;
      background-color: #fff;
      display: flex;
      margin-bottom: 0px; }
      .the_best .best_reason .best_item:hover {
        background-color: #F3FBF8; }
      .the_best .best_reason .best_item:hover .best_img {
        background-color: #fff; }
      .the_best .best_reason .best_item:nth-of-type(2) img {
        transform: scale(0.75); }
      .the_best .best_reason .best_item .best_img {
        max-width: 80px;
        width: 100%;
        height: 100%;
        max-height: 80px;
        background-color: #F3FBF8;
        padding: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px; }
        .the_best .best_reason .best_item .best_img img {
          display: block;
          width: 100%; }
    .the_best .best_reason .best_text {
      max-width: 280px; }
      .the_best .best_reason .best_text h4 {
        margin-bottom: 8px; }
      .the_best .best_reason .best_text p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        max-width: 100%; }

.special_item {
  padding: 80px 0;
  position: relative;
  position: relative; }
  .special_item .img_absolute {
    position: absolute;
    bottom: 10px;
    right: 0;
    max-width: 400px; }
    .special_item .img_absolute img {
      width: 100%;
      display: block; }
  .special_item .special_content {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-around; }
    .special_item .special_content .special_text {
      max-width: 600px; }
      .special_item .special_content .special_text h2 {
        margin-bottom: 20px; }
      .special_item .special_content .special_text p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 50px; }
      .special_item .special_content .special_text .do_it_now {
        display: flex;
        align-items: center; }
        .special_item .special_content .special_text .do_it_now p {
          margin-bottom: 0; }
  .special_item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #09A66D;
    opacity: 5%; }
  .special_item .special_img {
    max-width: 600px;
    margin-right: 50px; }
    .special_item .special_img img {
      display: block;
      width: 100%;
      opacity: 100%; }

.our_customers {
  padding-top: 96px; }
  .our_customers .container {
    position: relative; }
    .our_customers .container h2 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5; }
  .our_customers .carousel_content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap; }
    .our_customers .carousel_content .carousel_text {
      max-width: 500px;
      width: 100%;
      padding-top: 30px;
      margin-top: 185px; }
      .our_customers .carousel_content .carousel_text p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #555555; }
      .our_customers .carousel_content .carousel_text .customer_name {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-top: 40px;
        margin-bottom: 20px; }
      .our_customers .carousel_content .carousel_text img {
        display: block;
        max-width: 150px; }
    .our_customers .carousel_content .carousel_img {
      position: relative;
      margin-top: 35px; }
      .our_customers .carousel_content .carousel_img .score {
        position: absolute;
        left: -12px;
        bottom: -11px;
        max-width: 230px; }
    .our_customers .carousel_content .img_back {
      max-width: 500px;
      width: 100%;
      background-color: #F3FBF8;
      padding-top: 55px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 50%;
      overflow: hidden; }
      .our_customers .carousel_content .img_back img {
        display: block;
        width: 100%; }
  .our_customers .owl-nav {
    position: absolute;
    bottom: 15px;
    left: 28%;
    transition: 0.5s; }
    .our_customers .owl-nav button:hover {
      border: none;
      background-color: #3fe7aa; }
  .our_customers .owl-nav button.owl-prev {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: solid 1px #cccccc;
    margin-right: 25px;
    text-align: center; }
    .our_customers .owl-nav button.owl-prev span {
      display: none; }
    .our_customers .owl-nav button.owl-prev:before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f053";
      display: inline-block;
      color: #cccccc; }
  .our_customers .owl-nav button.owl-next {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: solid 1px #cccccc;
    margin-right: 25px;
    text-align: center; }
    .our_customers .owl-nav button.owl-next span {
      display: none; }
    .our_customers .owl-nav button.owl-next:before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f053";
      display: inline-block;
      transform: rotate(180deg);
      color: #cccccc; }

.order {
  padding: 145px 0; }
  .order .order_content {
    display: flex;
    justify-content: space-between; }
    .order .order_content .order_img {
      position: relative; }
      .order .order_content .order_img .second_phone {
        position: absolute;
        top: -27px;
        left: 27px; }
    .order .order_content .order_text {
      max-width: 660px;
      width: 100%; }
      .order .order_content .order_text a {
        text-decoration: none;
        padding: 11px 22px;
        text-align: center;
        background-color: #F3FBF8;
        border-radius: 50px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #333333;
        display: inline-block;
        margin-bottom: 16px;
        transition: 0.5s; }
        .order .order_content .order_text a:hover {
          background-color: #96f3d0; }
      .order .order_content .order_text h2 {
        margin-bottom: 20px; }
      .order .order_content .order_text p {
        margin-bottom: 50px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #555555; }
      .order .order_content .order_text .order_btn {
        display: flex; }
        .order .order_content .order_text .order_btn a {
          background: none;
          padding: 0; }
          .order .order_content .order_text .order_btn a:first-of-type {
            margin-right: 25px; }
          .order .order_content .order_text .order_btn a:hover {
            transform: scale(1.1); }

footer {
  padding-top: 67px;
  padding-bottom: 120px;
  background-color: #FCFEFD; }
  footer .footer_content {
    display: flex;
    justify-content: space-between; }
    footer .footer_content .logo_text {
      max-width: 345px;
      width: 100%; }
      footer .footer_content .logo_text p {
        margin-top: 30px; }
    footer .footer_content .footer_info {
      padding-top: 40px;
      display: flex;
      justify-content: space-between; }
      footer .footer_content .footer_info p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #222222;
        margin-bottom: 40px; }
      footer .footer_content .footer_info ul li {
        margin-bottom: 25px; }
        footer .footer_content .footer_info ul li:last-of-type {
          margin-bottom: 0; }
      footer .footer_content .footer_info a {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #555555; }
        footer .footer_content .footer_info a:hover {
          color: #0e855d;
          text-decoration: underline; }
      footer .footer_content .footer_info .resources {
        margin: 0 140px; }
      footer .footer_content .footer_info .contact p:last-of-type, footer .footer_content .footer_info .contact a {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #222222; }
      footer .footer_content .footer_info .contact .footer_social {
        display: flex;
        justify-content: space-between;
        padding-right: 40px; }
        footer .footer_content .footer_info .contact .footer_social a {
          transition: 0.2s; }
        footer .footer_content .footer_info .contact .footer_social a:hover {
          text-decoration: none;
          transform: scale(1.2); }
        footer .footer_content .footer_info .contact .footer_social a:first-of-type:before {
          font-family: "Font Awesome 6 Brands";
          font-weight: 400;
          content: "\f39e"; }
        footer .footer_content .footer_info .contact .footer_social a:first-of-type:hover {
          color: blue; }
        footer .footer_content .footer_info .contact .footer_social a:nth-of-type(2):before {
          font-family: "Font Awesome 6 Brands";
          font-weight: 400;
          content: "\f099"; }
        footer .footer_content .footer_info .contact .footer_social a:nth-of-type(2):hover {
          color: blue; }
        footer .footer_content .footer_info .contact .footer_social a:last-of-type:before {
          font-family: "Font Awesome 6 Brands";
          font-weight: 400;
          content: "\f16d"; }
        footer .footer_content .footer_info .contact .footer_social a:last-of-type:hover {
          color: deeppink; }

.open-main-nav {
  display: none; }

/*# sourceMappingURL=style.css.map */
