@import "fonts.css";

$main_font: 'DM Sans', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
}

h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

h4 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

body {
  background-color: #fff;
}

$green: #25c088;

a {
  font-family: $main_font;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding: 45px 0;

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        margin-right: 40px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          font-size: 18px;
          line-height: 24px;
          color: #222222;
        }
      }
    }

    .logo_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .regist {
      display: flex;
      align-items: center;

      a {
        margin-right: 20px;
        height: 40px;
        min-width: 40px;
        background-color: #F3FBF8;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-of-type {
          margin-right: 0;
          margin-left: 12px;
        }
      }

      .btn {
        display: block;
        padding: 10px 23px;
        background-color: $green;
        border-radius: 8px;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.5s;

        &:hover {
          background-color: #0e855d;
        }
      }
    }
  }
}


.main {
  text-align: center;
  background-color: #F3FBF8;
  padding-top: 92px;
  padding-bottom: 32px;

  .container {
    position: relative;

    .left_top_img {
      position: absolute;
      top: -120px;
      left: -6%;
      max-width: 450px;
      margin-right: 600px;

      img {
        display: block;
        width: 100%;
      }
    }

  }

  h1 {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
  }

  p {
    max-width: 637px;
    width: 100%;
    margin: auto;
  }

  .do_it_now {
    margin-top: 50px;

    p {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      display: inline;
    }
  }

  .main_content {
    display: flex;
    justify-content: space-between;

    .main_img {
      max-width: 800px;
      position: relative;
      top: -45px;
      left: 0;
      z-index: 0;

      img {
        display: block;
        width: 100%;
      }
    }

    .main_rating {

      .rating_item {
        background-color: #fff;
        padding: 17px 33px;
        margin-bottom: 30px;
        display: flex;

        h3 {
          color: black;
          margin-bottom: 4px;
        }

        p {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
        }

        img {
          display: block;
          width: 56px;
          margin-right: 25px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.do_it_now {
  a {
    position: relative;
    z-index: 3;
    margin-left: 20px;
    display: inline-block;
    background-color: $green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 23px 0;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      background-color: $green;

    }

    &:after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f178";
      display: block;
      color: white;
    }
  }
}

.the_best {
  background-color: #fff;
  padding: 140px 0;
  position: relative;
  overflow: hidden;

  .line_absolute {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 1;
  }
.container{
  position: relative;
  z-index: 2;
}
  h2 {
    margin-bottom: 20px;
  }

  p {
    max-width: 42%;
    width: 100%;
    color: #555555;
  }

  .best_content {
    display: flex;
    justify-content: space-between;
    text-align: center;
.fa-arrow-down-long{
  color: $green;
  margin-top: 60px;
  font-size: 30px;
}
    .best_icon {
      max-width: 600px;
      width: 100%;
      padding-top: 30px;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .best_reason {
    margin-top: 60px;
    cursor: pointer;

    .best_item {
      padding: 40px 60px;
      background-color: #fff;
      display: flex;
      margin-bottom: 0px;

      &:hover {
        background-color: #F3FBF8;
      }

      &:hover .best_img {
        background-color: #fff;
      }

      &:nth-of-type(2) img {
        transform: scale(0.75);
      }

      .best_img {
        width: 80px;
        height: 80px;
        background-color: #F3FBF8;
        padding: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;

        img {
          display: block;
          width: 100%;

        }
      }
    }

    .best_text {
      max-width: 280px;

      h4 {
        margin-bottom: 8px;
      }

      p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        max-width: 100%;
      }
    }
  }
}


.special_item{
  padding: 80px 0;
  position: relative;
  .img_absolute{
    position: absolute;
    bottom: 10px;
    right: 0;
    max-width: 400px;
    img{
      width: 100%;
      display: block;
    }
  }
.special_content{
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  .special_text{
    max-width: 600px;
    h2{
      margin-bottom: 20px;
    }
    p{
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 50px;
    }
    .do_it_now{
      display: flex;
      align-items: center;
      p{
        margin-bottom: 0;
      }
    }
  }
}
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #09A66D;
    opacity: 5%;
  }
  .special_img{
    max-width: 600px;
    margin-right: 50px;
    img{
      display: block;
      width: 100%;
      opacity: 100% ;

    }
  }
}

.our_customers{
  padding-top: 96px;
  .container{
    position: relative;
    h2{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }

  }
  .carousel_content{
    display: flex;
    justify-content: space-between;
    align-items: end;
    .carousel_text{
      max-width: 500px;
      width: 100%;
      padding-top: 30px;

      p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #555555;
      }
      .customer_name{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      img{
        display: block;
        max-width: 150px;
      }
    }
    .carousel_img{
      position: relative;
      margin-top: 35px;
      .score{
        position: absolute;
        left: -12px;
        bottom: -11px;
        max-width: 230px;
      }

    }
    .img_back{
      max-width: 500px;
      width: 100%;
      background-color: #F3FBF8;
      padding-top: 55px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 50%  ;
      overflow: hidden;
      img{
        display: block;
        width: 100%;
      }
    }
  }
.owl-nav{
  position: absolute;
  bottom:15px;
  left: 28%;
}
    .owl-nav button.owl-prev{
      width: 56px;
      height: 56px;
      border-radius: 50%  ;
      border: solid 1px #cccccc;
      margin-right: 25px;
      text-align: center;
      span{
        display: none;
      }
      &:before{
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f053";
        display: inline-block;
        color: #cccccc;
      }
    }
  .owl-nav button.owl-next{
    width: 56px;
    height: 56px;
    border-radius: 50%  ;
    background-color: $green;
    margin-right: 25px;
    text-align: center;
    span{
      display: none;
    }
    &:before{
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f053";
      display: inline-block;
      transform: rotate(180deg);
      color: white;
    }
  }

  }






